* { margin:0; padding:0;font-family: Arial; }

body{
	width:100%;
}

.aaa{
	height:400px;
	width:20%;
	background:green;
}

.header{
	width:100%;
	min-width:300px;
	min-height:300px;
	float:top;
}

.hospital1{
	min-height:300px;
	width:50%;
	min-width:150px;
	position:relative;
	float:left;
	margin-left:0;
}

.hospital1 img{
	position:absolute;
	margin-left:0;
	padding-left:0;
}

.hospital1 img.top{
	animation-name:fade1;
	animation-timing-function:ease-out;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-direction:alternate;
}

@keyframes fade1{
	0%{
		opacity:1;
	}
	45%{
		opacity:1;
	}
	55%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}

.hospital2{
	min-height:300px;
	width:50%;
	min-width:150px;
	position:relative;
	float:left;
	margin-left:0;
}

.hospital2 img{
	position:absolute;
	margin-left:0;
	padding-left:0;
}

.hospital2 img.top1{
	animation-name:fade2;
	animation-timing-function:ease-out;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-direction:alternate;
}

@keyframes fade2{
	0%{
		opacity:1;
	}
	45%{
		opacity:1;
	}
	55%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}


h4{
	margin-top:1%;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	color:#1a53ff;
}

p{
	text-align:center;
	font-weight:bold;
	color:#1a53ff;
	font-size:25px;
}

.result{
	float:left;
	width:80%;
	height:200px;
	background:none;
	font-weight:bold;
}

 table{
	 width:60%;
	 margin-top:1%;
	 margin-left:20%;
	 border-collapse:collapse;
	 border:1px solid black;
	 border-radius:10%;
	 
 }
 th{
	background-color:  #1a53ff;
			color: white;
			
 }
 th,td{
	 border:1px solid #808080; 
	 padding:5px;
	 text-align:center;
 }

 
 tr:nth-child(even){
	 background-color:#cce6ff;
 }
 tr:nth-child(odd){
	 background-color:#99b3ff;
 }

.rightnav{
	float:right;
	width:20%;
	height:400px;
	background:yellow;
}

.hospital{
	float:right;
	width:100%;
	height:200px;
	background:linear-gradient(#3377ff,#99ccff);
	color:#fff;
}

.doctor{
	float:right;
	width:100%;
	height:200px;
	background:linear-gradient(#3377ff,#99ccff);
	color:#fff;
}

form{
	margin-top:5%;
	margin-left:5%;
}

.hospital input[type=text] , .doctor input[type=text]{
	margin-top:5%;
	margin-left:5%;
	width:80%;
	border-radius: 5px;
	border:none;
	padding:5px;
	background:#fff;
}

.rightnav .hospital .buttonSub1 {
	outline:none;
    width: 50%;
    margin-top: 20px;
	margin-left:20%;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #e0e0e0 0%,
        #bfbfbf);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#e0e0e0),
        to(#bfbfbf));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

.rightnav .doctor .buttonSub2 {
	margin-left:20%;
	outline:none;
    width: 50%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #e0e0e0 0%,
        #bfbfbf);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#e0e0e0),
        to(#bfbfbf));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}