* { margin:0; padding:0;font-family: Arial; }

html, body {
	height: 100%;
	background-color: #d1eefd;
	padding:0;
}


.footer {
	position:relative;
	background: rgb(99,147,193);
	background: -moz-linear-gradient(top, rgba(99,147,193,1) 13%, rgba(207,231,250,1) 100%);
	background: -webkit-linear-gradient(top, rgba(99,147,193,1) 13%,rgba(207,231,250,1) 100%);
	background: linear-gradient(to bottom, rgba(99,147,193,1) 13%,rgba(207,231,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#cfe7fa',GradientType=0 );
	z-index: 7;
    color:white;
    text-align:center;
	float: left;
    padding:0px;
	min-height:30%;
	width: 100%;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

.footerSec1{
	position:relative;
	min-height:95%;
	width:30%;
	float:left;
	color: white;
	min-width:150px;
	padding: 10px;
	display:inline-block;
}

.footerSec2{
	position:relative;
	min-height:95%;
	width:43%;
	text-align:left;
	float:left;
	color: white;
	min-width:150px;
	padding: 10px;
}

.footerAdr{
	position:relative;
	min-height:95%;
	width:21%;
	min-width:150px;
	color: white;
	float:left;
	text-align:left;
	padding: 10px;
	display:inline;
}
.footer h1{
	font-size:20px;
	text-align:left;
	margin: 0;
}

.footer hr{
	height: 2px;
	vertical-align: middle;
	border: 0;
	box-shadow: 0 10px 10px -10px white inset;
	width:100%;
	margin-bottom:5px;
}

.footerB{
	position:relative;
	width:100%;
	text-align:center;
	min-width: 200px;
	float:left;

}

.footer .btn{
	float:left;
	min-height: 30px;
	text-align: center;
    background-color: #d4d4d4;
	margin: 10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 30px;
	z-index: 3;
	transition: all .5s ease-in-out;
	width: 45px;

}

.footer .btn:hover {
    color: white;
    background-color: #3b5998;
    text-align: center;

}

.footer .btnln{
	float:left;
	min-height: 30px;
	text-align: center;
    background-color: #d4d4d4;
	margin: 10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 30px;
	z-index: 3;
	transition: all .5s ease-in-out;
	width: 45px;
}

.footer .btnln:hover {
    color: white;
    background-color: #1d8cb5;
    text-align: center;

}

.footer .btntwt{
	float:left;
	min-height: 30px;
	text-align: center;
	vertical-align: middle;
	position: relative;
    background-color: #d4d4d4;
	margin: 10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 30px;
	z-index: 3;
	transition: all .5s ease-in-out;
	width: 45px;
}

.footer .btntwt:hover {
    color: white;
    background-color: #00abf1;
    text-align: center;

}

.footer .btnyt{
	float:left;
	min-height: 30px;
	text-align: center;
	vertical-align: middle;
	position: relative;
    background-color: #d4d4d4;
	margin: 10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 30px;
	z-index: 3;
	transition: all .5s ease-in-out;
	width: 45px;
}

.footer .btnyt:hover {
    color: white;
    background-color: #d23c36;
    text-align: center;

}

.sidemenuitem {

	padding: 1em;
	min-height: 30px;
	text-align: center;
	vertical-align: middle;
	position: relative;
    background-color: #91c2d9;
	margin-top: 10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	z-index: 3;
	transition: all .2s ease-in-out;
}

.sidemenuitem:hover {
    color: white;
    background-color: #d1eefd;
    clear: left;
    text-align: center;
	font-size: 20px;
	margin-bottom: 15px;
	-moz-box-shadow: 0 0 10px #d4d4d4;
	-webkit-box-shadow: 0 0 10px #d4d4d4;
	box-shadow: 0 0 10px #d4d4d4;
}

.heading1{
	font-size:40px;
	color: white;
	padding: 5px;
	font-weight: bold;
	
}


.contents{
	float:right;
	position:relative;
	min-height: 90%;
	background-color: #d1eefd;
	color: white;
	text-align: justify;
	min-width: 90%;
	padding: 0px;
	z-index:1;
	transition: all 1s ease-in-out;
}


.contentitem{
	float:left;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
	color: white;
	margin: 1%;
	width: 96%;
	!min-height:100%;
	overflow-x:hidden;
	transition: all 1s ease-in-out;

	
}

.showitem {
	opacity: 1;
	z-index: 2;
	position:relative;
}

.menubuttonimg {
	float: left;
	height:100%;
	text-align: center;
	vertical-align: middle;
	top: 0;
	bottom: 0;
	margin-right:20px;

}

.menubuttonimg:hover {
	
}


.header {
	position: absolute;
	height:4%;
    text-align:center;
	top: 0;
	right: 0;
	float: left;
	z-index: 2;
	padding:10px;
	border:0px;
	margin-top:0px;
	margin-left:0px;


}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.centerIcon {
    margin: auto;
    top: 0;
    bottom: 0;
}


.nav {
    line-height:30px;
    background-color:#bddbea;
	text-align:center;
    width:10%;
	min-height:100%;
	position: fixed;
    float:left;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	z-index: 6;
	transition: all .2s ease-in-out;
}



contactus{
	float:right;
	text-align:left;
	font-size: 20px;
}


.boxshadow {
    !position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
	border: 3px solid white;
    border-style: inset;
	margin: 20px;
}

.imagepos {
	!position:absolute;
	height:200px;
	position:relative;
	float:right;

}

.p1 {
	text-align: justify;
	font-size: 24px;
	color: black;
	margin: 10px;
}




.notifybox {
	opacity: 0.8;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -180%;
    margin-left: -60px;
}



.notifybox::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 93%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.textnotify{
	opacity:1;
	color: black;
	font-size: 12px;
	text-align:left;
	padding: 5px;
	margin: 4px;
	text-align:center;
}

.loginbox {
	opacity:0;
    visibility: hidden;
    width: 300px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: -143%;
    margin-left: -60px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	-webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}



.loginbox::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}


  
  .buttonlogin {
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
	border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white;
    color: black;
    border: 2px solid #00E3E3;
	vertical-align: middle;
}

.buttonlogin:hover {
    background-color: #00E3E3;
    color: white;
}

hr{
	height: 10px;
	vertical-align: middle;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	vertical-align:center;
	text-align:center;
	overflow:auto;
}
.modal-content{
	margin: auto;
	width: 40%;

}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
}

#signup {
    padding: 0px 25px 25px;
    background: #dcdcfb;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: absolute;
	width:40%;
	margin: 20px;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 80%;
    margin: auto;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}




#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs .buttonS {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs .buttonS:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}


.inputs select, input[type=text], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 350px; 
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

.inputs select:focus, input[type=text]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

.inputs ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #111111;
}

.inputs ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.inputs ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.inputs ul li:hover label{
	color: #FFFFFF;
}

.inputs ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.inputs ul li:hover .check {
  border: 5px solid #FFFFFF;
}

.inputs ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.inputs input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

.inputs input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

.inputs input[type=radio]:checked ~ label{
  color: #0DFF92;
}

#cf {
  position:relative;
  width:100%;
  height:30%;
  margin:0 auto;
  overflow:hidden;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

#cf img {
	position:absolute;
	top:-400px;
	width:100%;
	animation-name: cf4FadeInOut;
	animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf img:nth-of-type(4) {
  animation-delay: 0;
}


