* { margin:0; padding:0;font-family: Arial; }

html, body {
	height: 100%;
    background-color: white;
	padding:0;
}


footer {
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.sidemenuitem {
	padding: 1em;
	min-height: 30px;
	min-width: 100px;
	text-align: center;
	vertical-align: middle;
	position: relative;
    background-color: #91c2d9;
	margin:10px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	z-index: 6;
	transition: all .2s ease-in-out;
}

.sidemenuitem:hover {
    color: white;
    background-color: #d1eefd;
    clear: left;
    text-align: center;
	font-size: 20px;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 13px;
	-moz-box-shadow: rgba(0,0,0,0.8) 0 0 13px;

}

.heading1{
	font-size:40px;
	color: white;
	padding: 5px;
	font-weight: bold;
	
}

.raw{
	position:relative;
	display: flex;
	min-height:90%;
}
.contents{
	float:left;
	position:relative;
	min-height: 90%;
	background-color: #d1eefd;
	color: white;
	text-align: justify;
	width: 80%;
	padding: 0px;
	z-index:1;
	!overflow:hidden;
}


.contentitem{
	float:left;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
	color: white;
	margin: 2%;
	width: 96%;
	min-height:90%;
}

.showitem {
	opacity: 1;
	z-index: 2;
	position:relative;
}

.menubuttonimg {
	float: left;
	height:100%;
	text-align: center;
	vertical-align: middle;
	top: 0;
	bottom: 0;
	margin-right:20px;

}

.menubuttonimg:hover {
	
}


.header {
	position: absolute;
	height:5%;
    text-align:center;
	top: 0;
	right: 0;
	float: left;
	z-index: 2;
	padding:10px;
	border:0px;
	margin-top:0px;
	margin-left:0px;
	vertical-align:middle;

}



.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.centerIcon {
    margin: auto;
    top: 0;
    bottom: 0;
}


.nav {
    line-height:30px;
    background-color:#bddbea;
	text-align:center;
    width:15%;
	min-height:95%;
	position: relative;
    float:left;
	z-index:6;
}

.footer {
    background-color:black;
	z-index: 4;
    color:white;
    clear:both;
    text-align:center;
	float: bottom;
    padding:0px;
	height:15%;
	width: 100%;
}

contactus{
	float:right;
	text-align:left;
	font-size: 20px;
}


.boxshadow {
    !position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
	border: 3px solid white;
    border-style: inset;
	margin: 20px;
}

.imagepos {
	!position:absolute;
	height:200px;
	position:relative;
	float:right;

}

.p1 {
	text-align: justify;
	font-size: 24px;
	color: black;
	margin: 10px;
}




.notifybox {
	opacity: 0.8;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -180%;
    margin-left: -60px;
}



.notifybox::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 93%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.textnotify{
	opacity:1;
	color: black;
	font-size: 12px;
	text-align:left;
	padding: 5px;
	margin: 4px;
	text-align:center;
}

.loginbox {
	opacity:0;
    visibility: hidden;
    width: 300px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: -143%;
    margin-left: -60px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	-webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}



.loginbox::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.textbox {
   width: 200px;
   height: 20px;
   border: solid 2px #00E3E3;
   padding: 5px;
   margin:5px;
   border-radius: 5px;
   font-size: 18px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
  }
.textbox:focus  {
   border: solid 2px #00D43C;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
.textbox:active  {
   border: solid 2px #0043EB;
  }
  


hr{
	height: 10px;
	vertical-align: middle;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}



.style-2  {
  display: inline-block;
  padding: 4px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
.style-2:focus,
.style-2.focus {
  border: solid 1px #707070;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 13px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 13px;
  outline:none;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #91c2d9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  padding:3px;
  
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: 'Search»';
  position: absolute;
  opacity: 0;
  top: -14px;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 90px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}