* { margin:0; padding:0;font-family: Arial; }

body{
	width:99%;
	/*background:linear-gradient(#80aaff, #002080);*/
}

.notice{
	width:60%;
	min-width:300px;
	height:400px;
	margin-left:20%;
	float:left;
}

textarea{
	border:1px solid black;
}


h2{
	text-align:center;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	color:#0066ff;
}

.button{
	 outline:none;
    width: 20%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #e0e0e0 0%,
        #bfbfbf);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#e0e0e0),
        to(#bfbfbf));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
 }
 
 .button:hover{
	 cursor:pointer;
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
 }

 .notice select, input[type=date], input[type=text], input[type=textarea] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 90%; 
	margin: auto;
    margin-bottom: 17px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
	-ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
	transition: all .5s ease-in-out;
}

.headingbox{
	position:relative;
	text-align:left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-top: 5px;
	border-top-left-radius:2em;
	border-top-right-radius:0;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:-2em;
	border-bottom-left-radius:-2em;
	background: white;
	left: 4%;
	font-weight: bold;
	display: inline-block;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
	transition: all .5s ease-in-out;
}

#admin {
    padding: 0px 25px 25px;
    background: #dcdcfb;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: absolute;
	width:60%;
	margin: 20px;
}

#admin .header h2{
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
	width: 80%;
    margin: auto;
	text-align:center;
}

#admin .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#admin .sep {
    height: 1px;
    background: #e8e8e8;
    width: 80%;
    margin: auto;
}

#admin .notice {
    margin-top: 25px;
}

.notice ul li:hover label{
	color: #FFFFFF;
}