body{
	width:99%;
}

 h3{
	 font-family:Arial;
	 color:#0066ff;
	 font-weight:bold;
 }
 
/* .image{
	 height:220px;
	 width:20%;
	 min-width:50px;
	 float:left;
	 margin:0;
 }*/
 
 .news{
	 font-size:30px;
	 cursor:pointer;
	 height:220px;
	 width:100%;
	 min-width:50px;
	 float:left;
	 margin:0;
	 text-align:center;
	 background:linear-gradient(#99b3ff,  white);
	 
	transition-property:background , font-size;
	transition-duration:1s , 1s;
	transition-timing-function:linear;
 }
 
 .news:hover{
	 background:white;
	 font-size:40px;
 }
  
 .notice{
	height:427px;
	width:80%;
	float:left;
 }
 
 h2{
	 font-family:Arial;
	 font-size:30px;
	 font-weight:bold;
	 color:#0066ff;
	 margin-left:5%;
 }
 
 textarea{
	 border:3px solid #0066ff;
	 border-radius:10px;
	 margin-left:5%;
 }
 
 .reg{
	 padding:1%;
	 height:450px;
	 width:18%;
	 background: linear-gradient(#80aaff, #002080);
	 float:right;
 }
 
 p{
	 font-family:Arial;
	 font-size:20px;
	 font-weight:bold;
	 color:#fff;
	 text-align:center;
 }
 
 .button{
	 border-radius:5px;
	 background: linear-gradient(#49708f, #293f50);
	 color:#fff;
	 padding:5px;
	 cursor:pointer;
	 margin-left:20%;
	 font-size:20px;
 }