* { margin:0; padding:0;font-family: Arial; }

#vacancy {
    padding: 0px 25px 25px;
    background: #dcdcfb;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: absolute;
	width:60%;
	margin: 20px;
}

#vacancy .header {
    margin-bottom: 20px;
	text-align: center;
	width: 80%;
    margin: auto;
}

#vacancy .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
	width: 80%;
    margin: auto;
	text-align:center;
}

#vacancy .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#vacancy .sep {
    height: 1px;
    background: #e8e8e8;
    width: 80%;
    margin: auto;
}

#vacancy .inputs {
    margin-top: 25px;
}





#vacancy .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#vacancy .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#vacancy .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#vacancy .inputs .buttonS {
    width: 100%;
	outline:none;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#vacancy .inputs .buttonS:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

#vacancy .inputs .buttonS {
	outline:none;
    width: 15%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #e0e0e0 0%,
        #bfbfbf);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#e0e0e0),
        to(#bfbfbf));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}



.inputs select, input[type=date], input[type=text], input[type=password] {
    /*background: #f5f5f5;*/
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 90%; 
	margin: auto;
    margin-bottom: 17px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
	-ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
	transition: all .5s ease-in-out;
}

.inputs select:focus, input[type=date]:focus, input[type=text]:focus, input[type=password]:focus {
    
background: #fff;
    box-shadow: 0px 0px 0px 3px #0099cc, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;	
}

.inputs ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
	border-bottom: 1px solid #111111;
}

.inputs ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.inputs ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.inputs ul li:hover label{
	color: #FFFFFF;
}

.inputs ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.inputs ul li:hover .check {
  border: 5px solid #FFFFFF;
}

.inputs ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.inputs input[type=text]:checked ~ .check {
  border: 5px solid #0099cc;
}

.inputs input[type=radio]:checked ~ .check::before{
  background: #0099cc;
}

.inputs input[type=radio]:checked ~ label{
  color: #0099cc;
}

.headingbox{
	position:relative;
	text-align:left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-top: 5px;
	border-top-left-radius:2em;
	border-top-right-radius:0;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:-2em;
	border-bottom-left-radius:-2em;
	background: white;
	left: 4%;
	font-weight: bold;
	display: inline-block;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
	transition: all .5s ease-in-out;
}

.poperror {
	opacity:0;
    visibility: visible;
    width: 300px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    !top: 100%;
    !left: 100%;
    margin-left: 65px;
	margin-top: -15px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
	-webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}



.poperror::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.error{
	color:red;
	font-size:10px;
	text-align:left;
	width: 350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-12px;
	margin-bottom:-10px;
	font-style: italic;
	-webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
	opacity:0;
}

.column{
	width:50%;
	float:left;
}

