section{
	
	width:100%;
	padding:10px;
}
.Health{
	
	width:300px;
	color:white;
	height:300px;
	/*background-color:#006666;*/
	padding:20px ;
	
	font-family:'cambia';
	font-size:20px;
	float:left;
	margin:10px;
	transition: all .2s ease-in-out;
	transition-timing-function: ease;
	/*border-radius:50%;*/
	transition:all 0.4s ease 0s;
    
	position:relative;
}
.Health img {
	
	height:250px;
	width:250px;
	border-radius:50%;
    opacity:0.3;

}


.Health :hover{
	opacity:1;
    transform: scale(1.4);
	transition: ease-in-out 0.5s;
}


h4 {
  position: absolute;
  padding:26px 0px 0px 30px;
  font-size:24;
  color: #000033;
  
  
  text-align:center;
  font-family:'cambria';
  
}


