h1,h2,h3,h4,h5,h6{
	font: normal 250% 'News Cycle', Arial, sans-serif;
	color: #FFF;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
}
h3{
	font: normal 130% 'News Cycle', Arial, sans-serif;}
	h2{
		font-size:26px;
		line-height: 32px;
	}

div{
	display: block;
}

#main{
	background: #87CEFA;
}
#main, header{
	margin-left: auto;
	margin-right: auto;
}

.header1{
	background-color:#4169E1;
	height:100px;
	font-size: 20px;
	font-family: verdana;
	color: white;
	padding: 3px;
	text-align: center;
}

#name{
	position: absolute;
	left: 350px;
}

.header{
	background-color:#4169E1
	width:1300px;
	position: fixed;
	left: 20px;
	right:20px;
	z-index: 9999;
}

.header2{
	text-align: center;
	background-color:#B0E0E6;
	height:50px;
	font-size: 37px;
	font-family: calibri;
	padding: 0.5px;
}

#leftbar{
	position: fixed;
	left: 20px;
	top: 150px;
	width: 400px;
	height:650px;
	background-color:#87CEFA ;
	background: -moz-linear-gradient(#000080, #FFF);
	background: -o-linear-gradient(#000080, #FFF);
	background: -webkit-linear-gradient(#000080, #FFF);
}


.inner{
	position : absolute;
	left: 30px;
	top: 20%;
	width: 270px;
	border: outset;
}
.inner input{
	margin-top: 0px;
	border: 0;
	border-radius: 10px;
	color: black;
	padding: 10px;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #ccccff;
	cursor: pointer;
	outline: none;
	text-align: center;
}
#login{
	list-style: none;
	line-height: 30px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
}
.content
{ 
width:auto;
height: 100%;
margin-left: 0px;
background-color:#87CEFA ;
	background: -moz-linear-gradient(#ADD8E6,#6495ED);
	background: -o-linear-gradient(#000080, #809fff);
	background: -webkit-linear-gradient(#000080, #809fff);
	padding: 15px;
	padding-top: 0px
  }
  .content_container
{ width: 600px;
  margin: 250px 10px 0 50px;
  float: left;
  
  }
  #button{
	  background-color:#87CEFA;
	  border:solid;
	  color:black;
	  padding:15px;
	  text-align:center;
	 display:inline-block;
	 font-size:16px;
	 margin:4px;
	 cursor:pointer;
	 border-radius:12px;
  }
  .content_container p{
	  padding:20px;
	  border: 4px solid #26225A;
	  border-radius:12px;
	  background-color:#B0E0E6;
  }
  
a, a:hover
{ color: #000;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

nav
{ height: 60px;
  background: transparent;}  
  
  ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 130% 'News Cycle', Arial, sans-serif;
  height: 24px;
  margin: 40px 20px 0 0;
  text-shadow: 0px 1px 0px #000;
  padding: 0px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px #fff;
  color: #000;  }

  ul#nav li a, ul#nav li:hover a
{ text-shadow: 0px 1px 0px #FFF;
  color: #000;
  background: #87CEEB;
  background: -moz-linear-gradient(#87CEEB, #87CEFA);
  background: -o-linear-gradient(#87CEEB, #87CEFA);
  background: -webkit-linear-gradient(#87CEEB, #87CEFAs);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  }