table {
    border: 2px solid CadetBlue;
    border-radius: 5px;
}

 th{
    background: CadetBlue;
    font-size: 30px;
     text-align: center;
  vertical-align: middle;
    
}

.button{
    width: 100px;
    background-color: aqua;
    border-radius: 20px;
    height: 30px;
}


.textfill{
    border: 3px solid CadetBlue;
    border-radius: 5px;
    
}