*{font-family: Arial;}
#inputtable{
	border-style: groove;
	border-color: red;
	height:400px;
	width:150px;
}

.decimalinput{
	height:20px;
	width:50px;
}
#column1{
	float:left;
	min-width:200px;
	width:33%;
	margin-top:10px;
	
}
#column2{
	float:left;
	min-width:200px;
	width:33%;
	margin-top:-20px;
	
		
}

#column3{
	float:left;
	min-width:200px;
	width:33%;
	margin-top:-75px;
	}



img{
	width:100%;
}

.logo{
	width:150px;
	height:150px;
	
}

